<html>
<meta charset="utf-8">
<title>Be(A)ware! 2018</title>
<link rel="icon" type="image/png" href="../images/favicon_updated.ico">
<link href="../lib/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="../css/app.css" rel="stylesheet" id="bootstrap-css">
<script src="../lib/jquery.min.js"></script>
<script src="../lib/bootstrap.min.js"></script>
<script src="../lib/angular.js"></script>
<script src="../lib/angular-route.js"></script>
<script src="../lib/underscore.min.js"></script>
<script src="../js/beaware.js"></script>

<body class="bodyBackground" ng-app="bewareApp">
    <div ng-view></div>
</body>

</html>